<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink>Grid1</button>
    <ng-template ngbNavContent>
      <paging-sample-component></paging-sample-component>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Grid2</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Grid3</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Grid4</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Second</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>